################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/main/.vs/main/v17
/main/main.sln
/env/
env/



